/* Global styles here */
*{
  margin: 0;
  margin-left: 5px;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  color: #0a0a0a;
  margin-top: 5px;
  background-color: rgb(115, 121, 126);
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

p{
  color: black;
  font-size: 14px;
  margin: 1px;
  margin-left: 10px;
}

h1{
  margin-bottom: 10px;
}
h2{
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
}
h3{
  color: black;
}
strong{
  display: in-block;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button{
  background: grey;
  color: black;
  padding: 1px;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: 14px;
  margin: 1px 1px;
}